.registr_modal {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid grey;
}


.window {
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 300px;
    border: 2px solid black;
}

.enter_name {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
    box-sizing: border-box;
    border: 2px solid black;
    min-height: 30px;
}

.button_enter {
    margin-bottom: 20px;
    text-align: center;
    width: 40%;
    min-height: 30px;
    color: green;
    margin-left: 30%;
}
.container_button {
    margin-left: auto;
    margin-right: auto;
}
.choose_name {
    text-align: center;
    color: green;
}